/*
 * Neblio REST API Suite
 * APIs for Interacting with NTP1 Tokens & The Neblio Blockchain
 *
 * OpenAPI spec version: 1.2.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.nebl.neblioapi.api;

import io.nebl.neblioapi.ApiCallback;
import io.nebl.neblioapi.ApiClient;
import io.nebl.neblioapi.ApiException;
import io.nebl.neblioapi.ApiResponse;
import io.nebl.neblioapi.Configuration;
import io.nebl.neblioapi.Pair;
import io.nebl.neblioapi.ProgressRequestBody;
import io.nebl.neblioapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import io.nebl.neblioapi.models.GetFaucetResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TestnetFaucetApi {
    private ApiClient localVarApiClient;

    public TestnetFaucetApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TestnetFaucetApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for testnetGetFaucet
     * @param address Your Neblio Testnet Address (required)
     * @param amount Amount of NEBL to withdrawal in satoshis (optional)
     * @param _progressListener Progress listener
     * @param _progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call testnetGetFaucetCall(String address, BigDecimal amount, final ProgressResponseBody.ProgressListener _progressListener, final ProgressRequestBody.ProgressRequestListener _progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/testnet/faucet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (address != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address", address));
        }

        if (amount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("amount", amount));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (_progressListener != null) {
            localVarApiClient.setHttpClient(localVarApiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), _progressListener))
                            .build();
                }
            }).build());
        }

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call testnetGetFaucetValidateBeforeCall(String address, BigDecimal amount, final ProgressResponseBody.ProgressListener _progressListener, final ProgressRequestBody.ProgressRequestListener _progressRequestListener) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling testnetGetFaucet(Async)");
        }
        

        okhttp3.Call localVarCall = testnetGetFaucetCall(address, amount, _progressListener, _progressRequestListener);
        return localVarCall;

    }

    /**
     * Withdraws testnet NEBL to the specified address
     * Withdraw testnet NEBL to your Neblio Testnet address. By default amount is 1500000000 or 15 NEBL and has a max of 50 NEBL. Only 2 withdrawals allowed per 24 hour period. 
     * @param address Your Neblio Testnet Address (required)
     * @param amount Amount of NEBL to withdrawal in satoshis (optional)
     * @return GetFaucetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetFaucetResponse testnetGetFaucet(String address, BigDecimal amount) throws ApiException {
        ApiResponse<GetFaucetResponse> localVarResp = testnetGetFaucetWithHttpInfo(address, amount);
        return localVarResp.getData();
    }

    /**
     * Withdraws testnet NEBL to the specified address
     * Withdraw testnet NEBL to your Neblio Testnet address. By default amount is 1500000000 or 15 NEBL and has a max of 50 NEBL. Only 2 withdrawals allowed per 24 hour period. 
     * @param address Your Neblio Testnet Address (required)
     * @param amount Amount of NEBL to withdrawal in satoshis (optional)
     * @return ApiResponse&lt;GetFaucetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetFaucetResponse> testnetGetFaucetWithHttpInfo(String address, BigDecimal amount) throws ApiException {
        okhttp3.Call localVarCall = testnetGetFaucetValidateBeforeCall(address, amount, null, null);
        Type localVarReturnType = new TypeToken<GetFaucetResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Withdraws testnet NEBL to the specified address (asynchronously)
     * Withdraw testnet NEBL to your Neblio Testnet address. By default amount is 1500000000 or 15 NEBL and has a max of 50 NEBL. Only 2 withdrawals allowed per 24 hour period. 
     * @param address Your Neblio Testnet Address (required)
     * @param amount Amount of NEBL to withdrawal in satoshis (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call testnetGetFaucetAsync(String address, BigDecimal amount, final ApiCallback<GetFaucetResponse> _callback) throws ApiException {

        ProgressResponseBody.ProgressListener _progressListener = null;
        ProgressRequestBody.ProgressRequestListener _progressRequestListener = null;

        if (_callback != null) {
            _progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    _callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            _progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    _callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call localVarCall = testnetGetFaucetValidateBeforeCall(address, amount, _progressListener, _progressRequestListener);
        Type localVarReturnType = new TypeToken<GetFaucetResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
